li {
    display: inline-block;
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #ff8ba7;
}

h2 {
    color: #ff8ba7;
    text-align: center;
}

header {
    height: fit-content;
    width: 100%;
    line-height: 90px;
    background-color: #594a4e
}

.header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#name {
    /* position: absolute; */
    /* right: 8px; */
    /* top: 4px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #ff8ba7;
    background-color: #594a4e;
    padding: 10px;
    width: fit-content;
}

.navigation {
    /* position: absolute; */
    /* top: 170px; */
    /* right: 10px; */
    text-align: right;
    padding-right: 15px;
}

.header-greeting {
    position: absolute;
    top: 175px;
    background-color: #c3f0ca;
    height: 50px;
    width: 400px;
    padding-left: 100px;
    text-align: center;
    color: #594a4e;
    line-height: 1.35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

img {
    height: 220px;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    width: 100%;
    height: 300px;
    background-color: #faeee7;
    padding: 10px;
}

#box-1 {
    width: 20%;
    border-width: 0px;
    border-right: 5px;
    border-color: #ff8ba7;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: right;
}

#box-2 {
    width: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    width: 100%;
    height: 900px;
    background-color: #faeee7;
    padding: 10px;
}

#box-3 {
    width: 20%;
    border-width: 0px;
    border-right: 5px;
    border-color: #ff8ba7;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#box-4 {
    width: 80%;
    padding-left: 20px;
}

.flex-container-3 {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    width: 100%;
    height: 200px;
    background-color: #faeee7;
    padding: 10px;
}

#box-5 {
    width: 20%;
    border-width: 0px;
    border-right: 5px;
    border-color: #ff8ba7;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: right;
}

#box-6 {
    width: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
}
